/* site wide */
@font-face {
    font-family: tamy;
    src: url(fonts/TaameyFrankCLM.woff);
}
@font-face {
    font-family: frank;
    src: url(fonts/FrankRuehlCLM.woff);
}
@font-face {
    font-family: vilna;
    src: url(fonts/Mekorot-Vilna.woff);
}
@font-face {
    font-family: simple;
    src: url(fonts/SimpleCLM.woff);
}
@font-face {
    font-family: hadasim;
    src: url(fonts/HadasimCLM.woff);
}
:root {
    --main-gray: rgb(69, 90, 100);
    --main-green: rgb(102, 187, 106);
    --main-yellow: rgb( 253, 216, 53);
    --main-red: rgb(183, 28, 28);
    --main-turq: rgb(0, 151, 167);
    --main-orange: rgb(255, 143, 0);
    --main-pink: rgb(240, 98, 146);
}
.hdr-wrapper {
  width:auto;
  text-align: center;
}
a {
  text-decoration: none;
}

.hdr-letter {
  display: inline-block;
}
